ar-lib
aclocal.m4
compile
Makefile.in
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
test-driver
*.sublime-*

# some build artifacts... why aren't these ignored?
/src/cmockery/config.h*
/*_test
/*.o
/.deps/
/.libs/
/Makefile
/calculator
/cmockery2.pc
/config.log
/config.status
/libcmockery.la
/libcmockery_la-cmockery.lo
/libtool
/run_tests
